#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: '#16161D';
  background-repeat: no-repeat;
  font-family: 'Roboto', 'Roboto Mono Variable';
  background-size: cover;
  background-position: center;
}
